body {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
}

.page-header {
  background: #FF7C73;
  color: white;
}

.page-header,
.page-footer {
  padding: 1rem;  
  text-align: center;
}

.page-header h1 {
  font-color: black;
  margin: 0;
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.page-content {
  padding: 2rem 0;
}

.cu-form {
  margin: 0 auto;
}

.cu-form-wrapper {
  width: 450px;
  margin: 0 auto;
}

.cu-field-group {
  margin: 2rem 0rem;
}

.cu-submit {
  text-align: center;
  margin: 2rem 0rem;
}

.cu-submit input[type=submit] {
    padding:1rem 3rem; 
    background:#ccc; 
    border:1rem none;
    cursor:pointer;
    -webkit-border-radius: 1rem;
    border-radius: 1rem; 
}

.cu-span {
  font-size: 1.5rem;
  display: block;
  margin: 2rem 0rem;
}

.topnav-background {
  background: #ff7c73;
}
/* Add a black background color to the top navigation */
.topnav {
  margin: 0rem 5rem;
  background: #ff7c73;
  color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

h1 {
  text-align: center
}

label {
  display: inline-block;
  width: 15rem;
  text-align: left;
}​
